.link__anim,
.link__anim2,
.link__anim3 {
  width: 1px;
  height: 1px;
  background: transparent;
  display: block;
  margin-left: 35%;
  transition-duration: 300ms;
}

.link:hover + .link__anim {
  background: #ffffff;
  transform-origin: left;
  transform: scaleX(70);
  animation-timing-function: cubic-bezier(0.92, 0.04, 1, 1);
}

.link:hover ~ .link__anim2 {
  transform-origin: left;
  transition-delay: 50ms;
  background: #ffffff;
  transform: scaleX(70);
  animation-timing-function: cubic-bezier(0.92, 0.04, 1, 1);
}

.link:hover ~ .link__anim3 {
  transform-origin: left;
  transition-delay: 100ms;
  background: #ffffff;
  transform: scaleX(70);
  animation-timing-function: cubic-bezier(0.92, 0.04, 1, 1);
}

.link:active + .link__anim {
  transform-origin: left;
  background: #ffffff;
  animation: linkAnimActive 100ms both;
  animation-timing-function: cubic-bezier(0.92, 0.04, 1, 1);
}

.link:active ~ .link__anim2 {
  transform-origin: left;
  background: #ffffff;
  animation: linkAnimActive 100ms both;
  animation-timing-function: cubic-bezier(0.92, 0.04, 1, 1);
}

.link:active ~ .link__anim3 {
  transform-origin: left;
  background: #ffffff;
  animation: linkAnimActive 100ms both;
  animation-timing-function: cubic-bezier(0.92, 0.04, 1, 1);
}

@keyframes linkAnimActive {
  0% {
    transform: scaleX(70);
  }

  100% {
    transform: scaleX(120) translateX(20px);
  }
}

.maj {
  font-family: Playfair_black;
  background: -webkit-linear-gradient(
    138deg,
    rgba(191, 34, 34, 1) 44%,
    rgba(0, 0, 0, 1) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 300ms;
  position: absolute;
  transform-origin: left;
}

.majAbsolute {
  transform: translateY(-300px);
}

.disparitionSynopsis {
  transition: 300ms;
}

.disparitionSynopsis1 {
  opacity: 0;
}

.stats {
  width: 250px;
  opacity: 0;
  position: absolute;
  transition: 300ms;
  display: flex;
  justify-content: space-between;
}

.stats1 {
  opacity: 1;
  transform: translateY(-300px);
}

.textAlign {
  font-family: Playfair_black;
  text-align: end;
  background: -webkit-linear-gradient(
    138deg,
    rgba(191, 34, 34, 1) 44%,
    rgba(0, 0, 0, 1) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degage1 {
  display: none;
}

.transform1 {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .transform2 {
    transform: scale(1.1) translateX(-50%);
  }

  .majAbsolute {
    transform: translateX(155px) translateY(-300px);
  }

  .stats1 {
    transform: translateX(125px) translateY(-300px);
  }

  .aLien1 {
    transform: translateY(-200px) translateX(-50%);
    transform-origin: center;
  }

  .transform3 {
    transform: translateY(-200px) translateX(-50%) scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .majAbsolute {
    transform: translateX(45px) translateY(-250px);
  }

  .stats1 {
    transform: translateX(20px) translateY(-250px);
  }
}

@media screen and (max-width: 425px) {
  .transform2 {
    transform: scale(1.07) translateX(-50%);
  }

  .transform3 {
    transform: translateY(-200px) translateX(-50%) scale(1.07);
  }
}
